#tbl{
    width: 600px;
    border-spacing: 0;
    border: 1px solid #bbb;
    margin-top: 10px;
}
#tbl tr{
    height: 27px;
}

#tbl th, #tbl td{
    text-align: left;
    border-bottom: 1px solid #ccc;
}